.skill-wraper {
    width: 100%;
    background-color: var(--color5);
}

.skills-heading {
    text-align: center;
    font-size: 5rem;
    color: var(--color2);
}



.skills-heading::first-letter {
    font-size: 8rem;
    color: var(--color1);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.card-container {
    width: 100%;
    display: flex;
    background-color: var(--color5);
    justify-content: space-evenly;
    flex-wrap: wrap;
    perspective: 1200px;

}

.card {
    width: 170px;
    height: 220px;
    background-color: var(--color6);
    margin: 2em 3em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 6.2px 12.5px 12.5px hsl(0deg 0% 0% / 0.31);
}

 .card::after {
    border-radius: 0.4em;
    z-index: -1;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 20%;
    top: 15%;
    border: 5px solid var(--color1);
    border-radius: 1em;
    
}

.card:hover::after {
    border-radius: 0.4em;
    z-index: -1;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 20%;
    top: 15%;
    border: 7px solid var(--color2);
    border-radius: 1em;
}

.skills-rate-card {
    width: 100%;
    height: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    
}

.card:hover .skills-rate-card {
    width: 100%;
    height: 70%;
    background-color: var(--color1);
    transform-origin: right;
    transition: 0.5s;
}





.skills-rate-card .skill-name {
    margin-top: 1em;
    color: transparent;
    text-align: center;
    font-size: 1.5rem;
    transform: translateX(-250px);
    
}

.card:hover .skills-rate-card .skill-name {
    color: var(--color6);
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    transform: translateX(0px);
    transition: 1s;
}

.skills-rate-card .rating {
    color: #f2f2f2;
    text-align: center;
    font-size: 1.5rem;
    transform: translateX(250px);
   
}

.card:hover .skills-rate-card .rating {
    color: var(--color2);
    text-align: center;
    font-size: 1.5rem;
    transform: translateX(0);
    transition: 1s;
    transition-delay: 0.5s;
}

.skills-rate-card .stars{
    display: flex;
    justify-content: center;
    transform: translateY(250px);
}

.card:hover .skills-rate-card .stars{
    transform: translateY(0);
    transition-delay: 1.5s;
    transition: 2s;
}



.card:hover .icon {
    margin: 0 auto;
    margin-top: 0.15em;
    transition: 0.2s;
    font-size: 3rem;
} 

.card .icon {
    font-size: 5rem;
}

.card .html {
    color: var(--color1);
}

.card .react {
    color: var(--color4);
}

.card .java {
    color: black;

}

.card .unity {
    color: black;

}

.card .js {
    color: darkgreen;

}

.card h1 {
    color: #fff;
    font-weight: 300;
}