.container {
    margin: 0;
    padding: 0;
    min-height: 90vh;
    width: 100%;
    background-color: var(--color5);
    display: flex;
    position: relative;
    isolation: isolate;
}

.container::before {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    filter: blur(40px);
    content: '';
    border-radius: 50%;
    background-color: var(--color3);
    opacity: 0.05;
}

.desc {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.fav {
    display: flex;
    align-items: center;
}

.myname {
    font-size: 2.5rem;
    font-weight: 300;
}

.myname span{
    font-size: 3rem;
    font-family: roboto;
    font-weight: 500;
}

.text-color {
    color: var(--color2);
}

.greet1 {
    font-size: 2.3rem;
    font-weight: 300;
}

.greet2 {
    font-size: 2.5rem;
    font-weight: 300;
}

.prof {
    font-size: 3rem;
    color: var(--color1);
    font-weight: 400;
    font-family: roboto;
}

.child {
    display: 'flex';
}

.profile {
    width: 50%;
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proimg {
    object-fit: fill;
    width: 70%;
    aspect-ratio: 1;
}

/*---------------------- banner tablet view ------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    :root {
        font-size: 16px;
    }

    .container {
        min-height: 100vh;
        width: 100%;
        background-color: var(--color5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        isolation: isolate;
    }

    .desc {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .myname span {
        font-size: 2rem;
    }

    .desc p {
        text-align: center;
    }

    .profile {
        width: 100%;
        height: 50vh;
    }

    .proimg {
        object-fit: contain;
        width: 80%;
        height: 100%;
    }

}

/* banner mobile view  */
@media screen and (max-width: 767px) {
    :root {
        font-size: 16px;
    }

    .container {
        min-height: 100vh;
        width: 100%;
        background-color: var(--color5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        isolation: isolate;
    }

    .desc {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .myname span {
        font-size: 2rem;
    }

    .desc p {
        font-size: 2rem;
        text-align: center;
    }

    .profile {
        width: 100%;
        min-height: 25vh;
    }

    .prof{
        font-size: 2.5rem;
    }

    .proimg {
        object-fit: contain;
        width: 80%;
        height: 100%;
    }
}